.navbar{
  min-height: 50px;
}

.navbar-left{
  color:white;
  font-size: 18px;
  margin-top: 15px;
}

.side-navigation{
  background-color: rgb(133, 145, 140);
}
.container-fluid{
   padding-right: 0px;
   padding-left: 0px;
}
.col-md-12{
  padding-right: 0px;
  padding-left: 0px;
}
.dropdown{
  margin-top: 10px;
}

.dropup, .dropdown {
    width: 100%;
}
.dropdown .btn{
  width: 100%;
}
.open > .dropdown-menu {
  width: 100%;
  text-align: center;
}

.service-container{
  display: block;
  width:100%;
  height: 120px;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  font-size: 18px;
  transition: background-color 0.5s ease;
  cursor:pointer;
}
.service-container:hover{
  background-color: #d5c9c9;
}
