
    <!-- NAV-BAR -->
    <nav class="navbar navbar-inverse ">
      <div id="beta-note" title="Този проект се разработва">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" id="userId"></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="email" placeholder="Имейл" id="email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" id="password" placeholder="Парола" class="form-control">
            </div>
            <button type="submit" name="login" id="login" class="btn btn-success">Вход</button>
            <button type="submit" name="signOut" id="signOutXX" class="btn btn-success" style="display:none">Изход</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- END NAV-BAR -->

    <div class="full-hero-div">
      <div class="container-fluid">
        <div class="col-md-6 col-md-offset-1">
              <div class="reg-box">
                <div class="reg-header">
                  Регистрация
                </div>
                <form class="" method="post">
                  <div class="reg-field">
                    <div class="reg-field-label">
                      Имейл
                    </div>
                    <input type="email" placeholder="Имейл" id="reg-email" class="form-control">
                  </div>
                  <div class="reg-field">
                    <div class="reg-field-label">
                      Парола
                    </div>
                    <input type="password" id="reg-password" placeholder="Парола" class="form-control">
                  </div>
                  <div class="reg-btn">
                    <button type="submit" name="login" id="regbtn" class="btn btn-success">Регистрация</button>
                  </div>
                </form>
              </div>
        </div>


      <div>
    </div>
